/* easter-eggs.css */
.easter-egg-image {
    position: fixed;
    top: 25%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 9999;
    display: none;
}

.easter-egg-image img {
    max-width: 300px; /* Ajustez selon la taille de vos images */
    height: auto;
}

/* Animation d'entrée */
@keyframes imageIn {
    from {
        opacity: 0;
        transform: translate(-50%, -45%);
    }
    to {
        opacity: 1;
        transform: translate(-50%, -50%);
    }
}

.easter-egg-image {
    animation: imageIn 0.3s ease-out;
}